{% extends 'base.html' %}

{% load i18n %}

{% block title %}{% trans 'Members' %}{% endblock %}

{% block body %}
{{ block.super }}

<div class="container">
    <div class="row">
        {% for profile in profiles %}
            {% include 'members/one-user-link.html' with profile=profile %}
        {% empty %}
            <div class="col-xs-12">
                <p>{% trans 'No members registered yet ...' %}</p>
            </div>
        {% endfor %}
    </div>
</div>

{% endblock %}
