{% extends 'base.html' %}

{% load static %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans 'Profile' %}{% endblock %}

{% block body %}
    {{ block.super }}

    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <div class="col-xs-12 col-sm-2">
                    <img class="img-rounded img-responsive center-block" src="{% if profile.avatar %}
                                                                          {{ profile.avatar.avatar.url }}
                                                                      {% else %}
                                                                          {% static 'ressources/logo/icon_bronycub.png' %}
                                                                      {% endif %}" alt="avatar"/>
                </div>
                <h1>{% trans 'SugarCUB </br>My Profile' %}</h1>
                <div class="row">
                    <hr/>
                    <form enctype="multipart/form-data" class="form" method="post">
                        {% csrf_token %}

                        <!-- Image + biographie (toujours affiché) -->
                        {% bootstrap_field form.bio %}

                        <img class="img-rounded img-responsive" width="150px" src="{% if profile.avatar %}
                                                                         {{ profile.avatar.avatar.url }}
                                                                     {% else %}
                                                                         {% static 'ressources/logo/icon_bronycub.png' %}
                                                                     {% endif %}" alt="avatar"/>
                        {% bootstrap_field form.avatar %}

                        <hr/>
                        <h3>{% trans 'Favorite pony :' %}</h3>
                        <!-- favorite pony -->
                        {{ ponies.management_form }}
                        {% for ponyform in ponies %}
                        
                            {% if ponies.can_delete %}
                                {{ ponyform.id }}
                                {% bootstrap_field ponyform.pony show_label=false field_class='col-sm-3 col-xs-12' form_group_class='' %}
                                {% bootstrap_field ponyform.message show_label=false field_class='col-sm-9 col-xs-12' form_group_class='' %}
                                {% bootstrap_field ponyform.DELETE field_class='col-xs-12'%}
                            {% else %}
                                {% bootstrap_field ponyform.pony show_label=false field_class='col-sm-3 col-xs-12' form_group_class='' %}
                                {% bootstrap_field ponyform.message show_label=false field_class='col-sm-9 col-xs-12' %}
                            {% endif %}

                        {% endfor %}

                        {% buttons %}
                            <button type="submit" class="btn btn-primary col-xs-offset-1" name="add_pony">{% bootstrap_icon star %}{% trans 'Add new line' %}</button>
                        {% endbuttons %}

                        <hr/>
                        <h3>{% trans 'Url :' %}</h3>
                        <!-- url -->
                        {{ urls.management_form }}
                        {% for urlform in urls %}

                            {% if urls.can_delete %}
                                {{ urlform.id }}
                                {% bootstrap_field urlform.icon show_label=false field_class='col-sm-3 col-xs-12' %}
                                {% bootstrap_field urlform.url show_label=false field_class='col-sm-9 col-xs-12' %}
                                {% bootstrap_field urlform.DELETE field_class='col-xs-12' %}
                            {% else %}
                                {% bootstrap_field urlform.icon show_label=false field_class='col-sm-3 col-xs-12' %}
                                {% bootstrap_field urlform.message show_label=false field_class='col-sm-9 col-xs-12' %}
                            {% endif %}

                        {% endfor %}

                        {% buttons %}
                            <button type="submit" class="btn btn-primary col-xs-offset-1" name="add_url">{% bootstrap_icon star %}{% trans 'Add new line' %}</button>
                        {% endbuttons %}

                        <hr/>
                        <h4>{% trans 'Only members of BronyCUB will be able to see those information :' %}</h4>
                        <!-- information caché -->
                        {% bootstrap_field form.phone layout='horizontal' %}</br></br>

                        {% bootstrap_field form.address layout='horizontal' %}
                        {% bootstrap_field form.city show_label=false field_class='col-sm-6 col-sm-offset-3 col-xs-12' %}
                        {% bootstrap_field form.postal_code show_label=false field_class='col-xs-12 col-sm-3' %}</br></br></br>

                        {% bootstrap_field form.birthday layout='horizontal' %}</br>

                        <hr/>
                        <h4>{% trans 'Hide personnal information :' %}</h4>
                        
                        
                        {% bootstrap_field form.name_enabled %}
                        {% bootstrap_field form.mail_enabled %}
                        {% bootstrap_field form.phone_enabled %}
                        {% bootstrap_field form.address_enabled %}
                        {% bootstrap_field form.birthday_enabled %}

                        <hr/>
                        {% buttons %}
                            <button type="submit" class="btn btn-primary" name="submit">{% bootstrap_icon star %}{% trans 'Update' %}</button>
                        {% endbuttons %}
                    </form>
                </div>
                <hr/>
                <a class="btn btn-primary" href="{% url 'auth_password_change' %}">{% trans 'Change your password' %}</a>
            </div>
        </div>
    </div>

{% endblock %}
