{% load static %}

{% load i18n %}
{% load endless %}

{% url 'agenda:comment_list' comment_list.0.event.id as comment_url %}
{% lazy_paginate 3,10 comment_list with comment_url %}

{% for comment in comment_list %}
    <div class="comment panel panel-default">
        <div class="panel-heading">
            <img class="img-header thumbnail" alt="avatar" src="
                {% if comment.author.profile.avatar.small %}
                    {{ comment.author.profile.avatar.small.url }}
                {% else %}
                    {% static 'ressources/logo/icon_bronycub.png' %}
                {% endif %}
            "/>
            {% if comment.author == null %}
                {{ comment.pseudo }}
            {% else %}
                {{ comment.author }}
            {% endif %} 
        </div>
        <div class="panel-body">
            {{ comment.text }}
        </div>
    </div>
{% endfor %}
{% show_more 'more comments' %}
