{% load static %}

{% load i18n %}
{% load endless %}

<div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><strong>{% trans 'Participant' %} : {{ participation_list.count }}</strong></h3>
    </div>
    <div id="participation-list-{{ event.id }}" class="panel-body">
	{% for participant in participation_list %}
		{% if participant.user == null %}
			<div id="modal-{{participant.pseudo}}" class="modal fade" role="dialog" aria-hidden="true">
				<div class="modal-dialog modal-lg">
					<div class="container-fluid modal-content modal-lg">
						<h4>Pseudo : {{ participant.pseudo }}</h4>
					</div>
					{% if user.is_authenticated and user.profile.enabled and event.author == user %}
					<div class="container-fluid modal-content modal-lg">
						<h4>Contact : {{ participant.contact }}</h4>
					</div>
					{% endif %}
				</div>
			</div>
			<a id="participant-{{participant.pseudo}}" data-toggle="modal" data-target="#modal-{{participant.pseudo}}" class="member-link">
				<div class="col-md-4">
				    <img class="img-responsive thumbnail" alt="avatar" src="
				        {% if participant.user.profile.avatar.small %}
				            {{ participant.user.profile.avatar.small.url }}
				        {% else %}
				            {% static 'ressources/logo/icon_bronycub.png' %}
				        {% endif %}
				    "/>
				</div>
			</a>
		{% else %}
			<a id="participant-{{participant.user.username}}" data-toggle="modal" data-target="#modal-{{participant.user.username}}" class="member-link">
				<div class="col-md-4">
				    <img class="img-responsive thumbnail" alt="avatar" src="
				        {% if participant.user.profile.avatar.small %}
				            {{ participant.user.profile.avatar.small.url }}
				        {% else %}
				            {% static 'ressources/logo/icon_bronycub.png' %}
				        {% endif %}
				    "/>
				</div>
			</a>
			{% include '../../users/templates/members/one-user-modal.html' with profile=participant.user.profile %}
		{% endif %}
	{% endfor %}
	</div>
</div>
{% show_more 'more comments' %}
