{% extends "base.html" %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Friends' %}{% endblock %}

{% block body %}
    {{ block.super }}

    <div class="container">
        <div class="row">

            {% for friend in friends %}
                {% if forloop.counter0|divisibleby:3 and not forloop.first %}
                    </div>
                    <div class="row">
                {% endif %}
                <div class="col-md-{{ friendWidth }} text-center">
                    <div class="panel panel-info">
                        <div class="panel-heading">{{ friend.name }}</div>
                      <div class="panel-body panel-min-height">
                          <a href="{{ friend.url }}" target="_blank">
                              <img class="thumbnail img-responsive center-block" src="{{ friend.image.url }}" alt="Image{{ friend.name }}">
                        </a>
                        <p>{{ friend.description }}</p>
                      </div>
                    </div>
                </div>
            {% empty %}
                <p>{% trans 'No friends at the moment ...' %}</p>
            {% endfor %}

        </div>
    </div>
{% endblock %}
