{% extends 'base.html' %}

{% load static %}
{% load i18n %}

{% block title %}{% trans 'Home' %}{% endblock %}

{% block body %}
    {{ block.super }}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="alert alert-dismissible alert-info">
                   <p>
                     Bienvenue sur la nouvelle version du site propulsée par SugarCUB ! Cette version est encore en cours de developpement. N'hésitez pas à nous signaler tout problème ;)
                   </p>
                 </div>
             </div>
         </div>
        <p>
            <img src="{% static 'img/logo_min.png' %}" alt="logo_bronycub" height="200" width="600" class="img-responsive center-block">
        </p>
        <div class="blockquotes">
            {% for quote in quotes %}
                <div class="quotes text-center">
                    <p> {{ quote.quote }} </p>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr />
    <div class="container">
        <div class="col-md-6">
            {% if not user.is_authenticated %}
                <h2>{% trans 'BronyCUB, What is it ?' %}</h2>
                <div class="jumbotron">
                    <article>
                        {% trans "BronyCUB is a collective from the <strong>U</strong>rban <strong>C</strong>ommunity of <strong>B</strong>ordeaux (<strong>CUB</strong> in french) in the Gironde." %}
                        <br /><br />
                        {% trans "this collective try to gather fans to orgenize various meet-up." %}
                        <br /><br />
                    </article>

                    <!-- Question -->
                    <a data-toggle="modal" data-target="#modal" class="btn btn-primary btn-lg">{% trans 'More info ...' %}</a>
                    <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="plusinfos" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="plusinfos">{% trans 'More info ...' %}</h4>
                                </div>
                                <div class="modal-header embed-responsive embed-responsive-16by9">
                                    <h4>{% trans 'A Brony ? Can we eat it ? whatisit ?' %}</h4>
                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/Y67pwC9iOBw" allowfullscreen></iframe>
                                </div>
                                <div class="modal-body embed-responsive embed-responsive-16by9">
                                    <h4>{% trans 'Why ?' %}</h4>
                                    <iframe class="embed-responsive-item" src="//www.youtube.com/embed/pXYqLKko6Ss" allowfullscreen></iframe>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">{% trans 'Close' %}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /Question -->
                </div>
            {% else %}
                <h2>{% trans 'What is happening in BronyCUB?' %}</h2>
                <div class="jumbotron">
                    <article>
                        {% for user in birthday %}
                            {% trans "It's the birthday of " %}<b>{{ user.user.username }}</b>{% trans " today, Happy Birthday!" %}
                        {% endfor %}
                    </article>
                    </br>
                    <article>
                        {% trans 'This month : ' %}
                            {% if list_new >= 1 %}
                                {% for user in new %}
                                    <b>{{ user.user.username }}</b>, 
                                {% endfor %}
                                    {% trans 'join us! Give ' %}
                                        {% if list_new > 1 %}
                                            {% trans 'them' %}
                                        {% else %}
                                            {% trans 'him/her' %}
                                        {% endif %}
                                    {% trans ' a warm welcome!' %}
                            {% else %}
                                {% trans 'nobody join us, how sad...' %}
                            {% endif %}
                    </article>
                </div>
            {% endif %}
        </div>
        <div class="col-md-6">
            <h2>Tchat - <small><a href="https://kiwiirc.com/client?settings=3ebf3eb7a40c2b03f47b918eb2f7087a">{% trans 'Join us' %}</a></small></h2>
            <div class="jumbotron monospace">
                {{ irc|safe }}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/dj.js' %}"></script>
{% endblock %}
