{% load bootstrap3 %}
{% load i18n %}
{% load participation_extra %}

{% if user.is_authenticated and user.profile.enabled %}
  {% participation event user as already_participate %}
  {% if already_participate %}
    <button class="btn btn-success btn-md" onclick="removeParticipation({{ event.id }})"><strong><i class="fa fa-thumbs-up"></i> {% trans 'I no longer participate !' %} </strong></button>
  {% else %}
    <button class="btn btn-success btn-md" onclick="submitParticipation({{ event.id }})"><strong><i class="fa fa-thumbs-up"></i> {% trans 'I participate !' %} </strong></button>
  {% endif %}
{% else %}
  <a data-toggle="modal" data-target="#modal-{{ event.id }}" class="btn btn-success btn-md">{% trans 'I participate !' %}</a>
  <!-- Modal for offline -->
  <div id="modal-{{ event.id }}" class="modal fade" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="input-group">
        {% csrf_token %}
        {% bootstrap_field participation_form.pseudo show_label=false %}
        <div class="alert alert-dismissible alert-warning">{% trans 'Add a way for us to contact you! (mail or phone for exemple). Only the organizer and the admin will be able to see it' %}</div>
        {% bootstrap_field participation_form.contact show_label=false %}
        {% bootstrap_field participation_form.captcha show_label=false %}
        <span class="input-group-addon btn" onclick="submitParticipation_offline({{ event.id }})" data-dismiss="modal"><span class="glyphicon glyphicon-send"/> {% trans 'Post' %}</span>
      </div>
    </div>
  </div>
{% endif %}