body {
	font-family: sans-serif;
}

.monospace {
	font-family: monospace;
}

/*****************************************
 * Page structure
 *
 * Footer is fixed to the bottom if room,
 * else it scrolls out of screen normaly
 ****************************************/
html, body {
	height: 100%;
}

#content {
	min-height: 100%;
	padding-top: 70px; 
	padding-bottom: 180px;
	position: relative;
} 

@media(max-width:992px) {
	#content {
		padding-bottom: 435px;
	}
}

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}

/*****************************************
 * Colors & Theme stuff
 ****************************************/
/*
 * Header
 */
.navbar-inverse {
	background-color: #5C2040;
	background-image: none;
}

/*
 * Footer
 */
footer {
	color: #fff;
	background: #5C2040;
	padding: 15px 0;
}
footer a {
	color: #DD4814;
}
footer a:hover {
	color: #fff;
}

/*
 * Texts
 */
.text-primary {
	color: #DD4814;
}

.label-info {
	background-color: #772953;
}

.navbar-inverse .navbar-brand {
	color: #FFF;
}

.navbar-inverse .navbar-nav > li > a {
    color: #FFF;
}

a {
	color: #DD4814;
	text-decoration: none;
}

.btn-primary {
	color: #FFF;
	background-color: #DD4814;
	border-color: #DD4814;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #b83c11;
  border-color: #a5360f;
}

/*
 * Button
 */
.btn-lg, .btn-group-lg > .btn {
	padding: 14px 16px;
}

/*
 * Home Quotes
 */
.blockquotes {
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.quotes {
  position: absolute;
  margin-left:auto;
  margin-right:auto;
  width:100%;
  display: none;
  color: #c25098;
  font-size: 17.5px;
}

/*
 * Img Tumbnail
 */
.img-thumbnail {
	width: 42px;
	height: 42px;
}

/*
 * Well
 */
.well {
	color: black;
}

/*
 * Image Actu
 */
#image_actu {
    width: 100px;
    height: 100px;
    float: left;
    margin-right: 10px;
    padding: 2px;
    border: 2px solid #929191;
    border-radius: 15px;
    box-shadow: 1px 1px 3px #929191;
}

/*
 * Avatar in header
 */
.img-header {
  float: left;
	margin-top: -15px;
	margin-bottom: -15px;
  margin-right: 5px;
	width: 50px;
	height: 50px;
}

/*
 * Avatar size
 */
.img-avatar {
	width: 100px;
	height: 100px;
}


/*
 * Use all available space
 */
.full-height {
	height: 100%;
}

.map-size
{
  height: 90%;
  padding-bottom: 20px;
}

.min-size {
	min-height: 1000px !important;
}

/*
 * To set the collapse width for the navbar
 * 1137px is the exact comment the navbar bug while log out
 */
@media (max-width: 1200px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .navbar-text {
        float: none;
        margin: 15px 0;
    }
    /* since 3.1.0 */
    .navbar-collapse.in {
    	overflow-y: auto !important;
    	overflow-x: hidden !important;
    }

    .navbar-collapse.collapse.in { 
        display: block!important;
    }
    .collapsing {
        overflow: hidden!important;
    }
    .username-member {
      text-align: center;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    .member-avatar{
      margin-left: auto;
      margin-right: auto;
    }
}

@media (max-width: 768px) {
  .username-member {
    display: inline-block;
  }
}

/*
 * To set an static width on the username, if it's too long display ...
 */
.username-header {
  display: inline-block;
  max-width: 125px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.header-span {
  margin-top: -10px;
  margin-left: 5px;
}

.username-member {
  display: inline;
  margin-left: 15px;
  max-width: 200px;
  white-space: nowrap;
}

.member-link:hover { 
  cursor: pointer;
  text-decoration: none;
  color: #DD4814;
}

.panel-member:hover {
  background-color: #eeeeee;
}

.member_separator
{
  border-right: solid 1px #E5E5E5;
}

/*
 * To set each friends to a min-height
 */
.panel-min-height {
  min-height: 200px;
}

/*
 * To remove the blue when we over agenda link
 */
.no_blue:hover, .no_blue:link, .no_blue:visited, .no_blue:active, .no_blue:focus {
  color: #DD4814;
  text-decoration-color: #DD4814;
}